<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style type="text/css">
        body{
            margin: 0;
            padding: 0%;
            box-sizing: border-box;
            display: flex;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            background-color: #191f33;
        }

        p{
            font-size: 20px;
            color: #f9f8fa;
        }
    </style>



    <p>404 | NOT FOUND</p>
</body>
</html>