<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style type="text/css">
        .login-feedback{
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items:center;
            font-size:17px
        }
    </style>

    <div class="login-container">
        <div class="logo"><img src="./assets/img/logo.png" alt="logo"></div>
        <div class="login-form">
            <h1>User Login</h1>

            <% if( message != null){ %>
                <div class="login-feedback">
                    <p style="color: orangered;" ><%= message %></p>
                </div>
              <% } %>

            <form action="/login" method = 'post'>
                <div class="email">
                    <p>Email Address</p>
                    <input type="text" name="email" id="" value= "<%= user? user.email : ''%>" placeholder="name@example.com">
                </div>
                <div class="password">
                        <p>Password</p>
                        <input type="password" name="password" id="" value="<%= user? user.password : '' %>" placeholder="Enter Password">  
                </div>
                <button id = 'submit' type="submit">Login</button>
            </form>
            <p class="forget-password">Forgot your password <a href="#">Reset</a></p>
            <p class="sign-up">Don't have an account yet? <a href="./register">Sign Up</a></p>
            <div class="footer">
                &copy; 2022 &nbsp;&nbsp; Crypto Earning FX &nbsp;&nbsp; All Rights <br> Reserved
            </div>
        </div>
    </div>
    <script defer>
        //const button = document.querySelector('#submit');
        //button.addEventListener('click', (e) => {
          //  e.preventDefault();
       // })
        
    </script>
</body>
</html> 